<div *ngIf="optimisers" class="form-group">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-3">
            <label for="sim-set">Optimiser</label>
        </div>
        <div class="col-span-12 md:col-span-9">
            <select [(ngModel)]="selected" name="optimiser" id="optimiser" class="select select-bordered w-full" aria-label="Optimisers" (change)="onSelect()">
                <option *ngFor="let optimiser of optimisers" [value]="optimiser.name">{{ optimiser.name }}</option>
            </select>
        </div>
    </div>
    <arion-c1-gradient-ascent-optimiser-params
        *ngIf="selected === c1OptimiserNames.GRADIENT_ASCENT"
        [(gradientAscentParameters)]="simSet.optimiserParams"
    ></arion-c1-gradient-ascent-optimiser-params>
</div>
