<div *ngIf="optimisers" class="space-y-4">
    <h3>Optimiser Configuration</h3>

    <div class="form-control w-full max-w-xs">
        <label class="label" for="optimiser">
            <span class="label-text font-medium">Optimiser</span>
        </label>
        <select
            [(ngModel)]="selected"
            name="optimiser"
            id="optimiser"
            class="select select-bordered w-full"
            aria-label="Optimisers"
            (change)="onSelect()">
            <option *ngFor="let optimiser of optimisers" [value]="optimiser.name">{{ optimiser.name }}</option>
        </select>
    </div>

    <arion-c1-gradient-ascent-optimiser-params
        *ngIf="selected === c1OptimiserNames.GRADIENT_ASCENT"
        [(gradientAscentParameters)]="simSet.optimiserParams"
    ></arion-c1-gradient-ascent-optimiser-params>
</div>
