<div *ngIf="simSet$ | async as simSet">
    <div class="row">
        <div class="col-md-6 text-left">
            <h2>SimSet {{ simSet.id }}</h2>
        </div>
        <div class="col-md-6 text-end"><button class="btn btn-danger" (click)="deleteSimSet(id)">Delete</button></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="content-block" id="tabs" role="tablist">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button
                            class="nav-link active"
                            id="summary-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#summary"
                            type="button"
                            role="tab"
                            aria-controls="summary"
                            aria-selected="true"
                        >
                            Summary
                        </button>
                    </li>
                    <li class="nav-item">
                      <button
                          class="nav-link"
                          id="analysis-tab"
                          data-bs-toggle="tab"
                          data-bs-target="#analysis"
                          type="button"
                          role="tab"
                          aria-controls="analysis"
                          aria-selected="false"
                          (click)="loadResultSet()"
                      >
                          Analysis
                      </button>
                  </li>
                    <li class="nav-item">
                        <button
                            class="nav-link"
                            id="sim-configs-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#sim-configs"
                            type="button"
                            role="tab"
                            aria-controls="sim-configs"
                            aria-selected="false"
                            (click)="loadSimConfigs()"
                        >
                            SimConfigs
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            class="nav-link"
                            id="generate-sims-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#generate-sims"
                            type="button"
                            role="tab"
                            aria-controls="generate-sims"
                            aria-selected="false"
                        >
                            Generate sim batch
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                      <arion-sim-set-view *ngIf="simSetRefresh$ | async as simSetRefresh" [simSet]="simSetRefresh"></arion-sim-set-view>
                    </div>
                    <div class="tab-pane" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
                      <div *ngIf="resultSet$ | async as resultSet">
                          <arion-result-set-view
                              [resultSet]="resultSet" [orgConfigType]="simSet.type"></arion-result-set-view>
                      </div>
                  </div>
                    <div class="tab-pane" id="sim-configs" role="tabpanel" aria-labelledby="sim-configs-tab">
                      <div *ngIf="simConfigs$ | async as simConfigs">
                          <arion-sim-config-index
                              [simConfigs]="simConfigs.data"
                              (selected)="navigateToSimConfig($event)"
                          ></arion-sim-config-index>
                      </div>
                  </div>
                    <div class="tab-pane" id="generate-sims" role="tabpanel" aria-labelledby="generate-sims">
                        <arion-batch-generator-view
                            [simSet]="simSet"
                            (batchGenerated)="generateSimConfigs($event)"
                        ></arion-batch-generator-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
