<div *ngIf="optimiserState">
    <div class="flex justify-between items-baseline">
        <a
            *ngIf="orgConfigId"
            [routerLink]="['/org-config', orgConfigId]"
            class="btn btn-sm btn-ghost">
            View Baseline OrgConfig
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
        </a>
    </div>

    <!-- Tabs -->
    <div role="tablist" class="tabs tabs-bordered mt-4">
        <button role="tab" class="tab"
            [class.tab-active]="activeTab === 'gradient-table'"
            (click)="activeTab = 'gradient-table'">
            Gradient Table
        </button>
        <button role="tab" class="tab"
            [class.tab-active]="activeTab === 'orgconfigs'"
            (click)="activeTab = 'orgconfigs'">
            OrgConfig Exploration
        </button>
    </div>

    <div class="content-block">
        <div [hidden]="activeTab !== 'gradient-table'">
            <arion-c1-optimiser-state
                *ngIf="optimiserState.modelName === c1ModelName"
                [optimiserState]="optimiserState"
            ></arion-c1-optimiser-state>
        </div>
        <div [hidden]="activeTab !== 'orgconfigs'">
            <arion-optimiser-state-orgconfig-view
                *ngIf="optimiserState.modelName === c1ModelName"
                [optimiserState]="optimiserState"
            ></arion-optimiser-state-orgconfig-view>
        </div>
    </div>
</div>
