<div *ngIf="simSets"></div>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Model type</th>
            <th scope="col">Description</th>
            <th scope="col">Model parameters</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let simSet of simSets" scope="row" (click)="selectSimSet(simSet.id)">
            <td>{{ simSet.id }}</td>
            <td>{{ simSet.modelName }}</td>
            <td>{{ simSet.description }}</td>
            <td>{{ simSet.modelParams | json }}</td>
        </tr>
    </tbody>
</table>
