<div class="overflow-x-auto w-full">
    <table *ngIf="optimiserState && x && del" class="table table-zebra table-sm">
        <thead>
            <tr class="bg-base-200">
                <th scope="col" class="sticky left-0 bg-base-200 z-10">Variable</th>
                <th scope="col" class="text-right bg-base-200 min-w-[140px]">Baseline (x)</th>
                <th scope="col" class="text-center bg-base-200" [attr.colspan]="del.length">Optimization Delta Values (∂)</th>
            </tr>
            <tr class="bg-base-300">
                <th scope="col" class="sticky left-0 bg-base-300 z-10"></th>
                <th class="bg-base-300" scope="col"></th>
                <th *ngFor="let parameter of del" class="min-w-[140px] text-right bg-base-300" scope="col">
                    <span class="font-mono text-xs">{{ parameter.id }}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-primary/10">
                <td class="heading sticky left-0 bg-primary/10 z-10">OUTPUTS</td>
                <td class="text-right bg-primary/10"></td>
                <td *ngFor="let parameter of del" class="text-right bg-primary/10" scope="col"></td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Optimisation variable value</td>
                <td class="text-right font-mono">—</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.outputs.configuratorParameterValue }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Performance</td>
                <td class="text-right font-mono">{{ x.data.outputs.performance | number: "1.0-0" }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.outputs.performance | number: "1.0-0" }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Δ(Performance)</td>
                <td class="text-right font-mono">—</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.outputs.performanceDelta | number: "1.6-6" }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Δ(Input)</td>
                <td class="text-right font-mono">—</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.outputs.xDelta | number: "1.6-6" }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Gradient (Slope)</td>
                <td class="text-right font-mono">—</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.outputs.slope | number: "1.4-4" }}
                </td>
            </tr>
            <tr class="bg-primary/10">
                <td class="heading sticky left-0 bg-primary/10 z-10">INPUTS</td>
                <td class="text-right bg-primary/10"></td>
                <td *ngFor="let parameter of del" scope="col" class="bg-primary/10"></td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Configurator</td>
                <td class="text-right font-mono">{{ x.data.inputs.configuratorName }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.configuratorName }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Action state probability</td>
                <td class="text-right font-mono">{{ x.data.inputs.data.actionStateProbability }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.actionStateProbability }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Board control step</td>
                <td class="text-right font-mono">
                    {{ x.data.inputs.data.board.controlStep }}
                </td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.board.controlStep }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Agent graph</td>
                <td class="text-right font-mono">{{ x.data.inputs.data.graph }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.graph }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Agent count</td>
                <td class="text-right font-mono">{{ agentCounts[0] }}</td>
                <td *ngFor="let parameter of del; index as i" class="text-right font-mono">
                    {{ agentCounts[i + 1] }}
                </td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Layers</td>
                <td class="text-right font-mono">{{ x.data.inputs.data.layers }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.layers }}
                </td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Spans</td>
                <td class="text-right font-mono">
                    {{ x.data.inputs.data.spans }}
                </td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.spans }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Matrix initialisers</td>
                <td class="text-right font-mono"></td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono"></td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Influence</td>
                <td class="text-right font-mono">{{ x.data.inputs.data.matrixInit.influence }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.matrixInit.influence }}
                </td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Judgment</td>
                <td class="text-right font-mono">
                    {{ x.data.inputs.data.matrixInit.judgment }}
                </td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.matrixInit.judgment }}
                </td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Incentives</td>
                <td class="text-right font-mono">{{ x.data.inputs.data.matrixInit.incentive }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.matrixInit.incentive }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Gains</td>
                <td class="text-right font-mono"></td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono"></td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Influence</td>
                <td class="text-right font-mono">{{ x.data.inputs.data.gains.influence | number: "1.6-6" }}</td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.gains.influence | number: "1.6-6" }}
                </td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Judgment</td>
                <td class="text-right font-mono">
                    {{ x.data.inputs.data.gains.judgment | number: "1.6-6" }}
                </td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.gains.judgment | number: "1.6-6" }}
                </td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Incentives</td>
                <td class="text-right font-mono">
                    {{ x.data.inputs.data.gains.incentive | number: "1.6-6" }}
                </td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.gains.incentive | number: "1.6-6" }}
                </td>
            </tr>
            <tr>
                <td class="sticky left-0 bg-base-100">Reporting</td>
                <td class="text-right font-mono"></td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono"></td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Unit price</td>
                <td class="text-right font-mono">
                    {{ x.data.inputs.data.reporting.unitPrice }}
                </td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.reporting.unitPrice }}
                </td>
            </tr>
            <tr>
                <td class="indent sticky left-0 bg-base-100">Unit payroll</td>
                <td class="text-right font-mono">
                    {{ x.data.inputs.data.reporting.unitPayroll }}
                </td>
                <td *ngFor="let parameter of del" scope="col" class="text-right font-mono">
                    {{ parameter.data.inputs.data.reporting.unitPayroll }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
