<div *ngIf="simSet">
    <div class="row">
        <table class="table table-xsm">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Parameter</th>
                    <th scope="col" class="">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td>{{ simSet.id }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ simSet.description }}</td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td>{{ simSet.modelName }}</td>
                </tr>
                <tr>
                    <td>Configurator</td>
                    <td>{{ simSet.configuratorName }}</td>
                </tr>
                <tr>
                    <td>Optimiser</td>
                    <td>{{ simSet.optimiserName }}</td>
                </tr>
                <tr>
                    <td>Optimiser</td>
                    <td>{{ simSet.optimiserName }}</td>
                </tr>
                <tr>
                    <td>Current state id</td>
                    <td>{{ simSet.currentOptimiserStateId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
