<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-4">
        <div class="card bg-base-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">SimConfig</h5>
                <arion-sim-config *ngIf="simConfig" [dataInstance]="simConfig" [view]="views.CARD"></arion-sim-config>
            </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-4">
        <div class="card bg-base-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">OrgConfig</h5>
                <arion-org-config
                  *ngIf="simConfig.orgConfig as orgConfig"
                  [dataInstance]="orgConfig"
                  [view]="views.CARD"></arion-org-config>
            </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-4">
        <div class="card bg-base-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Configurator params</h5>
                <arion-configurator-params
                  *ngIf="simConfig.orgConfig?.configuratorParams as configuratorParams"
                  [dataInstance]="configuratorParams"
                  [view]="views.CARD"
              ></arion-configurator-params>
            </div>
        </div>
    </div>
</div>
