<div *ngIf="definition">
    <div class="form-check">
        <input
            id="optimise"
            [(ngModel)]="values.optimise"
            class="form-check-input"
            type="checkbox"
            [disabled]="readonly"
            (ngModelChange)="$check()"
        />
        <label class="form-check-label" for="optimise">Optimise</label>
    </div>

    <div class="content-block">
        <div *ngIf="values.type === domainTypes.DISCRETE || values.type === domainTypes.CONTINUOUS">
            <div *ngIf="values.optimise" class="form-group">
                <label for="min">Min</label>
                <input
                    [(ngModel)]="values.min"
                    id="min"
                    type="number"
                    class="form-control"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
            <div *ngIf="values.optimise" class="form-group">
                <label for="max">Max</label>
                <input
                    [(ngModel)]="values.max"
                    id="max"
                    type="number"
                    class="form-control"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
            <div *ngIf="!values.optimise" class="form-group">
                <label for="default">Default</label>
                <input
                    [(ngModel)]="values.default"
                    id="default"
                    type="number"
                    class="form-control"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
            <div *ngIf="values.optimise" class="form-group">
                <label for="derivativeStep">Derivative step size</label>
                <input
                    [(ngModel)]="values.derivativeStepSize"
                    id="derivativeStep"
                    type="number"
                    class="form-control"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
        </div>
        <div *ngIf="definition.domain.type === domainTypes.CATEGORICAL && values.type === domainTypes.CATEGORICAL">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-6">Category</th>
                        <th *ngIf="values.optimise" class="col-6" scope="col">Include in optimisation</th>
                        <th *ngIf="!values.optimise" class="col-6" scope="col">Default value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of definition.domain.categories; index as i">
                        <td class="col-6">{{ category }}</td>
                        <td *ngIf="values.optimise" class="col-6">
                            <input
                                [(ngModel)]="selectionFlags[i][0]"
                                [id]="category + '-optimise'"
                                class="form-check-input"
                                type="checkbox"
                                [disabled]="readonly"
                                (ngModelChange)="$clickInclusive(category)"
                            />
                        </td>
                        <td *ngIf="!values.optimise" class="col-6">
                            <input
                                [(ngModel)]="selectionFlags[i][1]"
                                [id]="category + '-default'"
                                class="form-check-input"
                                type="checkbox"
                                [disabled]="readonly"
                                (ngModelChange)="$clickDefault(i)"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="definition.domain.type === domainTypes.BOOLEAN && values.type === domainTypes.BOOLEAN">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-6">Category</th>
                        <th *ngIf="values.optimise" class="col-6" scope="col">Include in optimisation</th>
                        <th *ngIf="!values.optimise" class="col-6" scope="col">Default value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-6">true</td>
                        <td *ngIf="values.optimise" class="col-6">
                            <input
                                [id]="'true-optimise'"
                                class="form-check-input"
                                type="checkbox"
                                [disabled]="true"
                                checked="true"
                            />
                        </td>
                        <td *ngIf="!values.optimise" class="col-6">
                            <input
                                [id]="'true-default'"
                                class="form-check-input"
                                type="checkbox"
                                [disabled]="readonly"
                                checked="true"
                                [(ngModel)]="selectionFlags[0][1]"
                                (ngModelChange)="$clickDefault(0)"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-6">false</td>
                        <td *ngIf="values.optimise" class="col-6">
                            <input
                                [id]="'false-optimise'"
                                class="form-check-input"
                                type="checkbox"
                                [disabled]="true"
                                checked="true"
                            />
                        </td>
                        <td *ngIf="!values.optimise" class="col-6">
                            <input
                                [id]="'false-default'"
                                class="form-check-input"
                                type="checkbox"
                                [disabled]="readonly"
                                checked="true"
                                [(ngModel)]="selectionFlags[1][1]"
                                (ngModelChange)="$clickDefault(1)"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div [innerHTML]="modalText"></div>
</div>
