<div *ngIf="definition">
    <div class="content-block">
        <label class="flex items-center gap-2 cursor-pointer">
            <input
                [id]="definition.id + '-optimise'"
                [(ngModel)]="values.optimise"
                class="checkbox"
                type="checkbox"
                [disabled]="readonly"
                (ngModelChange)="$check()"
            />
            <span class="font-semibold">Optimise</span>
        </label>
    </div>
    <div class="content-block">
        <div *ngIf="values.type === domainTypes.DISCRETE || values.type === domainTypes.CONTINUOUS">
            <div *ngIf="values.optimise" class="form-group">
                <label [for]="definition.id + '-min'" class="font-semibold">Min</label>
                <input
                    [(ngModel)]="values.min"
                    [id]="definition.id + '-min'"
                    type="number"
                    class="input input-bordered w-full"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
            <div *ngIf="values.optimise" class="form-group">
                <label [for]="definition.id + '-max'" class="font-semibold">Max</label>
                <input
                    [(ngModel)]="values.max"
                    [id]="definition.id + '-max'"
                    type="number"
                    class="input input-bordered w-full"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
            <div *ngIf="!values.optimise" class="form-group">
                <label [for]="definition.id + '-default'" class="font-semibold">Default</label>
                <input
                    [(ngModel)]="values.default"
                    [id]="definition.id + '-default'"
                    type="number"
                    class="input input-bordered w-full"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
            <div *ngIf="values.optimise" class="form-group">
                <label [for]="definition.id + '-derivativeStep'" class="font-semibold">Derivative step size</label>
                <input
                    [(ngModel)]="values.derivativeStepSize"
                    [id]="definition.id + '-derivativeStep'"
                    type="number"
                    class="input input-bordered w-full"
                    [disabled]="readonly"
                    (ngModelChange)="$check()"
                />
            </div>
        </div>
        <div *ngIf="definition.domain.type === domainTypes.CATEGORICAL && values.type === domainTypes.CATEGORICAL">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="w-1/2">Category</th>
                        <th *ngIf="values.optimise" class="w-1/2" scope="col">Include in optimisation</th>
                        <th *ngIf="!values.optimise" class="w-1/2" scope="col">Default value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of definition.domain.categories; index as i">
                        <td class="w-1/2">{{ category }}</td>
                        <td *ngIf="values.optimise" class="w-1/2">
                            <input
                                [(ngModel)]="selectionFlags[i][0]"
                                [id]="category + '-optimise'"
                                class="checkbox"
                                type="checkbox"
                                [disabled]="readonly"
                                (ngModelChange)="$clickInclusive(category)"
                            />
                        </td>
                        <td *ngIf="!values.optimise" class="w-1/2">
                            <input
                                [(ngModel)]="selectionFlags[i][1]"
                                [id]="category + '-default'"
                                class="checkbox"
                                type="checkbox"
                                [disabled]="readonly"
                                (ngModelChange)="$clickDefault(i)"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="definition.domain.type === domainTypes.BOOLEAN && values.type === domainTypes.BOOLEAN">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="w-1/2">Category</th>
                        <th *ngIf="values.optimise" class="w-1/2" scope="col">Include in optimisation</th>
                        <th *ngIf="!values.optimise" class="w-1/2" scope="col">Default value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-1/2">true</td>
                        <td *ngIf="values.optimise" class="w-1/2">
                            <input
                                [id]="definition.id + '-true-optimise'"
                                class="checkbox"
                                type="checkbox"
                                [disabled]="true"
                                checked="true"
                            />
                        </td>
                        <td *ngIf="!values.optimise" class="w-1/2">
                            <input
                                [id]="definition.id + '-true-default'"
                                class="checkbox"
                                type="checkbox"
                                [disabled]="readonly"
                                checked="true"
                                [(ngModel)]="selectionFlags[0][1]"
                                (ngModelChange)="$clickDefault(0)"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td class="w-1/2">false</td>
                        <td *ngIf="values.optimise" class="w-1/2">
                            <input
                                [id]="definition.id + '-false-optimise'"
                                class="checkbox"
                                type="checkbox"
                                [disabled]="true"
                                checked="true"
                            />
                        </td>
                        <td *ngIf="!values.optimise" class="w-1/2">
                            <input
                                [id]="definition.id + '-false-default'"
                                class="checkbox"
                                type="checkbox"
                                [disabled]="readonly"
                                checked="true"
                                [(ngModel)]="selectionFlags[1][1]"
                                (ngModelChange)="$clickDefault(1)"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div [innerHTML]="modalText"></div>
</div>
