<table *ngIf="ready" class="table table-xsm table-hover">
    <thead>
        <tr>
            <th scope="col">Step</th>
            <th scope="col">Start</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center" [attr.colspan]="domainCount">x</th>
            <th scope="col" class="text-center" [attr.colspan]="domainCount + 1">del</th>
            <th scope="col">Performance</th>
        </tr>
        <tr>
            <th scope="col" class="text-end"></th>
            <th scope="col" class="text-end"></th>
            <th scope="col" class="text-end"></th>
            <th *ngFor="let domain of optimisationDomains" scope="col" class="text-end">{{ domain.id }}</th>
            <th *ngFor="let domain of optimisationDomains" scope="col" class="text-end">{{ domain.id }}</th>
            <th scope="col" class="text-end">Modulo</th>
            <th scope="col" class="text-end"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let optimiserState of states; index as i" (click)="selected.emit(optimiserState.id)">
            <td class="text-end">{{ optimiserState.stepCount }}</td>
            <td class="text-end">{{ optimiserState.start | date: "short" }}</td>
            <td class="text-end">
                <arion-status-indicator [status]="optimiserState.status"></arion-status-indicator>
            </td>
            <td *ngFor="let domain of optimisationDomains" scope="col" class="text-end">
                {{ x[i][domain.id].value }}
            </td>
            <td *ngFor="let domain of optimisationDomains; index as j" scope="col" class="text-end">
                {{ del[i][domain.id].value }}
            </td>
            <td class="text-end">{{optimiserState.optimiserData.moduloDel}}</td>
            <td class="text-end">{{optimiserState.performance}}</td>
        </tr>
    </tbody>
</table>
