<table *ngIf="configuratorParamsDTO" class="table">
    <thead>
        <tr>
            <th scope="col" class="parameter">Parameter</th>
            <th scope="col" class="value">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Configurator</td>
            <td>{{ configuratorParamsDTO.configuratorName }}</td>
        </tr>
        <tr>
            <td>Action state probability</td>
            <td>{{ configuratorParamsDTO.data.actionStateProbability }}</td>
        </tr>
        <tr>
            <td>Board control step</td>
            <td *ngIf="configuratorParamsDTO.data.board?.controlStep; else notDefinedTemplate">
                {{ configuratorParamsDTO.data.board.controlStep }}
            </td>
            <ng-template #notDefinedTemplate>
                <td>Not defined</td>
            </ng-template>
        </tr>
        <tr>
            <td>Agent graph</td>
            <td>{{ configuratorParamsDTO.data.graph }}</td>
        </tr>
        <tr>
            <td>Agent count</td>
            <td>{{ [agentCount] }}</td>
        </tr>
        <tr>
            <td class="indent">Layers</td>
            <td>{{ configuratorParamsDTO.data.layers }}</td>
        </tr>
        <tr>
            <td class="indent">Spans</td>
            <td>
                {{ configuratorParamsDTO.data.spans }}
            </td>
        </tr>
        <tr>
            <td>Matrix initialisers</td>
            <td></td>
        </tr>
        <tr>
            <td class="indent">Influence</td>
            <td>{{ configuratorParamsDTO.data.matrixInit.influence }}</td>
        </tr>
        <tr>
            <td class="indent">Judgment</td>
            <td>
                {{ configuratorParamsDTO.data.matrixInit.judgment }}
            </td>
        </tr>
        <tr>
            <td class="indent">Incentives</td>
            <td>{{ configuratorParamsDTO.data.matrixInit.incentive }}</td>
        </tr>
        <tr>
            <td>Gains</td>
            <td></td>
        </tr>
        <tr>
            <td class="indent">Influence</td>
            <td>{{ configuratorParamsDTO.data.gains.influence }}</td>
        </tr>
        <tr>
            <td class="indent">Judgment</td>
            <td>
                {{ configuratorParamsDTO.data.gains.judgment }}
            </td>
        </tr>
        <tr>
            <td class="indent">Incentives</td>
            <td>
                {{ configuratorParamsDTO.data.gains.incentive }}
            </td>
        </tr>
        <tr>
            <td>Reporting</td>
            <td></td>
        </tr>
        <tr>
            <td class="indent">Unit price</td>
            <td>
                {{ configuratorParamsDTO.data.reporting.unitPrice }}
            </td>
        </tr>
        <tr>
            <td class="indent">Unit payroll</td>
            <td>
                {{ configuratorParamsDTO.data.reporting.unitPayroll }}
            </td>
        </tr>
    </tbody>
</table>
