<div *ngIf="simSets"></div>

<table class="table table-sm hover:cursor-pointer">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Model name</th>
            <th scope="col">Optimiser</th>
            <th scope="col">Configurator</th>
            <th scope="col">Description</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let simSet of simSets" scope="row" (click)="selectSimSet(simSet.id)">
            <td>{{ simSet.id }}</td>
            <td>{{ simSet.modelName }}</td>
            <td>{{ simSet.optimiserName }}</td>
            <td>{{ simSet.configuratorName }}</td>
            <td>{{ simSet.description }}</td>
            <td><arion-status-indicator [status]="simSet.state"></arion-status-indicator></td>
        </tr>
    </tbody>
</table>
