<arion-breadcrumbs [breadcrumbs]="breadcrumbs"></arion-breadcrumbs>

<h1>Create New SimSet</h1>

<div class="card bg-base-100 shadow-sm mt-6">
    <div class="card-body">
        <arion-sim-set [(dataInstance)]="simSet" [view]="views.CREATE"></arion-sim-set>
    </div>
</div>

<div class="mt-6 flex justify-end">
    <button class="btn btn-success" (click)="createSimSet()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        Create SimSet
    </button>
</div>
