<table class="table table-xs">
  <thead>
      <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col" colspan="2" class="text-center">Influence</th>
          <th scope="col" colspan="2" class="text-center">Judgment</th>
          <th scope="col" colspan="2" class="text-center">Incentive</th>
          <th scope="col" colspan="2" class="text-center">Agent performance</th>
      </tr>
      <tr>
          <th scope="col">Configurator</th>
          <th scope="col">id</th>
          <th scope="col">State</th>
          <th scope="col" class="text-right">Days</th>
          <th scope="col" class="text-right">Runs</th>
          <th scope="col" class="text-right">Agent count</th>
          <th scope="col" class="text-right">Gain</th>
          <th scope="col">Init</th>
          <th scope="col" class="text-right">Gain</th>
          <th scope="col">Init</th>
          <th scope="col" class="text-right">Gain</th>
          <th scope="col">Init</th>
          <th scope="col" class="text-right">σ</th>
          <th scope="col" class="text-right">Performance</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let config of simConfigs" (click)="selected.emit(config.id)">
          <ng-template [ngIf]="config.orgConfig">
              <td>{{ config.orgConfig.configuratorParams.configuratorName }}</td>
              <td>{{ config.id }}</td>
              <td><arion-status-indicator [status]="config.state"></arion-status-indicator></td>
              <td class="text-right">{{ config.days }}</td>
              <td class="text-right">{{ config.runCount }}</td>
              <td class="text-right">{{ config.orgConfig.agentCount }}</td>
              <td class="text-right">
                  {{ config.orgConfig.configuratorParams.data.gains.influence }}
              </td>
              <td>
                  {{ config.orgConfig.configuratorParams.data.matrixInit.influence }}
              </td>
              <td class="text-right">
                  {{ config.orgConfig.configuratorParams.data.gains.judgment }}
              </td>
              <td>{{ config.orgConfig.configuratorParams.data.matrixInit.judgment }}</td>
              <td class="text-right">
                  {{ config.orgConfig.configuratorParams.data.gains.incentive }}
              </td>
              <td>
                  {{ config.orgConfig.configuratorParams.data.matrixInit.incentive }}
              </td>
              <td class="text-right">{{ config.stdDevPerformance | number: "1.0-0" }}</td>
              <td class="text-right">
                  <strong>{{ config.avgPerformance | number: "1.0-0" }}</strong>
              </td>
          </ng-template>
      </tr>
  </tbody>
</table>
