@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: scroll;
}

.hoverable:hover {
    background-color: rgb(231, 220, 226);
}

.content-block {
    margin-top: 3em;
}

/* tables */
.table-fix-head {
    overflow-y: auto;
    height: 100vh;
}

.table-fix-head thead {
    position: sticky;
    top: 0;
}

.table-fix-head table:focus {
    border: white solid 2px !important;
}

.parameter {
    width: 50%;
}

.value {
    width: 50%;
}

/* forms */
.form-group {
  padding-bottom: 1em;
}
