@import "tailwindcss";
@plugin "daisyui";

@import "node_modules/ngx-spinner/animations/ball-scale-multiple.css";

/* Arion custom theme */
@theme {
  --color-arion-purple-soft: rgb(231, 220, 226);
  --color-arion-purple-strong: rgb(128, 0, 128);
}

body {
    overflow: scroll;
}

.hoverable:hover {
    background-color: var(--color-arion-purple-soft);
}

.content-block {
    margin-top: 3em;
}

/* tables */
.table-fix-head {
    overflow-y: auto;
    height: 100vh;
}

.table-fix-head thead {
    position: sticky;
    top: 0;
}

.table-fix-head table:focus {
    border: white solid 2px !important;
}

.parameter {
    width: 50%;
}

.value {
    width: 50%;
}

/* forms */
.form-group {
  padding-bottom: 1em;
}
