<arion-breadcrumbs *ngIf="breadcrumbs$ | async as breadcrumbs" [breadcrumbs]="breadcrumbs"></arion-breadcrumbs>
<div *ngIf="simConfig$ | async as simConfig">
    <h2>SimConfig {{ simConfig.id }}</h2>
    <div class="content-block">
        <div role="tablist" class="tabs tabs-bordered">
            <button
                role="tab"
                class="tab"
                [class.tab-active]="activeTab === 'summary'"
                (click)="activeTab = 'summary'"
            >
                Summary
            </button>
            <button
                role="tab"
                class="tab"
                [class.tab-active]="activeTab === 'org-config'"
                (click)="activeTab = 'org-config'"
            >
                OrgConfig
            </button>
            <button
                role="tab"
                class="tab"
                [class.tab-active]="activeTab === 'results'"
                (click)="activeTab = 'results'; getResults$(simConfig.id)"
            >
                Results
            </button>
        </div>
    </div>
    <div class="content-block">
        <div [hidden]="activeTab !== 'summary'">
            <arion-sim-config [dataInstance]="simConfig" [view]="views.CARD"></arion-sim-config>
        </div>
        <div [hidden]="activeTab !== 'org-config'">
            <arion-org-config
                *ngIf="simConfig.orgConfig as orgConfig"
                [dataInstance]="orgConfig"
                [view]="views.VIEW"
            ></arion-org-config>
        </div>
        <div [hidden]="activeTab !== 'results'">
            <div *ngIf="results$ | async as results">
                <h3>Pivot</h3>
                <arion-result [dataArray]="results" [view]="views.PIVOT"></arion-result>
                <h3>Result set</h3>
                <arion-result
                    [dataArray]="results"
                    [view]="views.INDEX"
                    (selected)="navigateToResult($event)"
                ></arion-result>
            </div>
        </div>
    </div>
</div>
