<div *ngIf="simSetRefresh$ | async as simSetRefresh">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6 text-left">
            <h2>SimSet {{ simSetRefresh.id }}</h2>
        </div>
        <div class="col-span-12 md:col-span-6 text-right"><button class="btn btn-error" (click)="deleteSimSet()">Delete</button></div>
    </div>
    <div class="content-block">
        <div role="tablist" class="tabs tabs-bordered">
            <button
                role="tab"
                class="tab"
                [class.tab-active]="activeTab === 'summary'"
                (click)="activeTab = 'summary'"
            >
                Summary
            </button>
            <button
                role="tab"
                class="tab"
                [class.tab-active]="activeTab === 'optimiser-steps'"
                (click)="activeTab = 'optimiser-steps'"
            >
                Optimiser steps
            </button>
        </div>
    </div>
    <div class="content-block">
        <div [hidden]="activeTab !== 'summary'">
            <arion-sim-set [dataInstance]="simSetRefresh" [view]="views.VIEW"></arion-sim-set>
        </div>
        <div [hidden]="activeTab !== 'optimiser-steps'">
            <arion-sim-set-state-transition
                [simSet]="simSetRefresh"
                (selected)="onSelect($event)"
            ></arion-sim-set-state-transition>
        </div>
    </div>
</div>
